.box {
  width: 23px;
  height: 23px;
  margin: 1px;
  border-top: 0;
  border-left: 0;
  border-bottom: solid 2px #a9a9a9;
  border-right: solid 2px #a9a9a9;
  background-color: #e3e3e3;
  font-family: "ZCOOL QingKe HuangYou", sans-serif;
}

.open {
  border-top: solid 2px #c8c8c8;
  border-left: solid 2px #c8c8c8;
  border-bottom: 0;
  border-right: 0;
  background-color: #f0f0f0;
}

.flag {
  background-image: url(/public/gameBoard/flag.png);
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}

.bomb {
  background-image: url(/public/gameBoard/bomb.png);
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}

.text-blue {
  color: blue;
}

.text-green {
  color: green;
}

.text-cyan {
  color: darkcyan;
}

.text-purple {
  color: purple;
}

.text-brown {
  color: brown;
}

.text-red {
  color: firebrick;
}

.text-orange {
  color: orange;
}

.text-magenta {
  color: magenta;
}
